// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
        background: image-url('back.png');
}

.form-group{
        align: center;
}

h1{
        align: center;
}

.depot-form{
  align: center;
}